%table.board{data:{map: @map.id}}
	-(0...@map.level).each do |row|
		%tr
			-(0...@map.level).each do |column|
				-cell = column +(6*row)
				-if @map.board[cell][:value].class != String
					%td.waves-effect.waves-light.gray.lighten-2.btn{data:{cost: @map.board[cell][:value],x: column,y: row }}
				-elsif @map.board[cell][:value] == "start"
					%td.waves-effect.waves-light.yellow.lighten-2.btn.yellow-text.text-darken-4{data:{x: column,y: row}}
						= @map.board[cell][:value]
				-elsif @map.board[cell][:value] == "target"
					%td.waves-effect.waves-light.green.lighten-2.btn.green-text.text-darken-4{data:{x: column,y: row}}
						= @map.board[cell][:value]
}
:javascript
	show_unblocked_cells();
	$('#team-label').text("#{@team.name}");
	$('#team-label').data("id","#{@team.id}");
	$('#team-label').data("next","#{@team.next_team.id}");
	$('#team-label').data("next_name","#{@team.next_team.name}");
	$('#resources-value').text("#{@team.resources}");